*{
    margin: 0;
    padding: 0;
}

body, main, #root{
    background-color: var(--dark);
}

p, h1, h2, h3, h4, h6, a{
    font-family: 'Montserrat';
    color: var(--white)
}

a{
    text-decoration: none;
}

:root{
    --dark: #0d1117;
    --white: #fff
}