header > div{
    display: flex;
    align-items: center;
    max-width: 920px;
    margin: 0 auto;
    border-bottom: 1px solid var(--white); 
}

header > div >img{
    border-radius: 50%;
    border: 3px solid var(--white);
    height: 7rem;
    width: 7rem;
    margin: 1rem 1rem 1rem 0;
}

.container{
    height: 80vh;
}

.container > section{
    height: 100%;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
}

.container > section > :first-child {
    width: 30%;
    border-right: 1px solid gray;
    padding: 2rem 0;
}

.container > section > :last-child > h2 {
    font-size: 44px;
    text-align: center;
    margin: 0 5rem;
}

.container > section > :last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.container > section> :last-child > a{
    padding: 0.75rem 5rem;
    background-color: gray;
    color: var(--dark);
    font-weight: 700;
    border-radius: 3px;
    display: flex;
}

.container > section> :last-child > a:hover{
    filter: contrast(0.5);
}

@media(max-width: 920px){
    header > div{
        justify-content: center;
        padding: 0 1rem;
    }

    header > div > img {
        width: 6rem;
        height: 6rem;
    }
    .container > section{
        flex-direction: column;
    }

    .container > section > :last-child > h2{
        font-size: 34px;
        margin: 0 10rem;
    }

    article{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .container > section > :first-child{
        border: 0;
        width: auto;
    }

    .container > section > :last-child{
        width: 100%;
        padding-bottom: 2rem;
    }

    .container > section > :last-child > a {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width: 640px){
    .container > section > :last-child > h2{
        margin: 0 3rem;
    }
}